.NavbarItems {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
}

.NavMenu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.NavLinks {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
  padding: 0.7rem 1rem;
  border-radius: 25px;
}

.Foot {
  background-color: #053d00;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.Below {
  position: absolute;
  top: 70%;
}

.Text {
  text-decoration: underline #18d008;
  text-align: start;
  padding-left: 50px;
}

.Head {
  white-space: nowrap;
  padding: 20px;
  text-align: center;
  color: #477e42;
}

.TextA {
  text-decoration: underline #18d008;
  position: absolute;
  top: 30%;
  text-align: start;
}
.ParentDiv {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.Card {
  width: 300px;
  height: 320px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 20px;
  padding-right: 100px;
}

.Paragraph {
  word-wrap: normal;
  text-align: start;
  padding-left: 50px;
}

.Drop {
  font-size: 16px;
  border: 1px solid rgb(15, 185, 13);
  border-radius: 5px;
  width: 200px;
  position: relative;
  left: 23px;
  background-color: #18d008;
  padding: 1px;
}
.SmallText {
  padding: 20px;
  color: gray !important;
}

.btn-light {
  position: relative;
  left: 1%;
  color: #477e42;
  margin: 8px;
}

.ImgA {
  position: absolute;
  top: 0;
  right: 25%;
}

Img {
  border-radius: 11px;
  position: relative;
  left: 50%;
  padding: 20px;
  width: 700px;
  height: 300px;
}
