.NavbarItems {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
}

.NavMenu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #0c3d00 !important;
}

.NavLinks {
  color: black;
  text-decoration: none !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
  padding: 0.7rem 1rem;
}

.NavLinksb {
  color: black;
  text-decoration: none !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
  padding: 0.7rem 1rem;
  margin-right: 30px;
}

.NavLinksb:hover {
  background: #18d008 !important;
  border-radius: 15px;
  transition: all 0.275s ease-in-out;
}

.NavLinksa {
  color: black;
  text-decoration: none !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
  padding: 0.7rem 1rem;
  margin-left: 30px;
}

.NavLinksa:hover {
  background: #18d008 !important;
  border-radius: 15px;
  transition: all 0.275s ease-in-out;
}

.NavLinks:hover {
  background: #18d008 !important;
  border-radius: 15px;
  transition: all 0.275s ease-in-out;
}

.Foot {
  background-color: #053d00;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.ul {
  position: relative;
  list-style: none;
  right: 1%;
}
.Below {
  position: absolute;
  top: 70%;
}

.Text {
  text-decoration: underline #18d008;
  text-align: start;
  padding-left: 50px;
}

.Head {
  white-space: nowrap;
  padding: 20px;
  text-align: center;
  color: #477e42;
}

.TextA {
  text-decoration: underline #18d008;
  position: absolute;
  top: 35%;
  text-align: start;
}
.ParentDiv {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53vh;
}

.Card {
  width: 300px;
  height: 320px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 20px;
  padding-right: 100px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.Card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Paragraph {
  word-wrap: normal;
  text-align: start;
  padding-left: 50px;
}

.Drop {
  font-size: 16px;
  /* border: 1px solid rgba(0, 0, 0, 0.25); */
  border-radius: 5px;
  width: 200px;
  position: relative;
  left: 23px;
  background-color: #18d008;
  padding: 1px;

}

.Drop1 {
  display: inline-block;
  position: relative;
  padding-left: 2px;
  padding-right: 2px;
  width: 200px;
  left: 23px;
  border: #18d008;

}

.SmallText {
  padding: 27px;
  color: gray !important;
}

.btn-light {
  position: relative;
  left: 1%;
  color: #0c3d00 !important;
  border: 1px solid rgb(15, 185, 13) !important;
  margin: 8px;
  width: 80px;
}

.text {
  text-align: start;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.Textaa {
  color: #18d008;
  display: flex;
  text-align: start;
  position: absolute;
  left: 50%;
  font-weight: bolder;
}

.form-group {
  padding: 15px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  position: relative;
  left: 44%;
  top: 100px;
}
.form-control {
  align-self: center;
}

.btn-success {
  position: relative;
  left: 44%;
  top: 100px;
  width: 300px;
}

.Head {
  color: #0c3d00;
}

.img {
  position: absolute;
  padding-left: 25%;
}

.img-tag {
  top: 0;
  padding-left: 60%;
  width: 1200px;
  height: 100%;
}

.buttn {
  padding-top: 25px;
}

.singuptxt {
  color: #18d008;
}


.text11{
  position: absolute;
  bottom: 1px;
  text-align: start;
  right: 50%;
}

.form{
   position: relative;
   top: 1px;
}

.singuptxt1{
  position: relative;
  left: 25px;
  font-weight: bold;
  white-space: normal;
  color: #18d008;
    overflow-wrap: break-word;
    text-align: center;
    bottom: 35px;
}

.auth-errors-wrapper{
  width:100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 20px;
}
.auth-errors{
  width:300px;
  border:1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  display: block;
}
